body {
  background-color: #E1EBEE;
  padding-bottom: 30px !important;
}

#container {
  margin: 0;
  padding: 5%;
  background: #E1EBEE;
  max-width: 100%;
  max-height: 100vh;
  color: rgb(105, 105, 105);
}

input[type=radio] {
  display: none;
}

label {
  cursor: pointer
}

nav {
  position: relative;
  display: inline-block;
  width: 10%;
  top: 22vh;
}

nav ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

nav ul li {
  position: relative;
  padding: 20px 0;
  border-radius: 12px 0 0 12px;
  background: #E1EBEE;
  color: #3E7E92;
  text-align: center;
}

nav ul li:hover {
  background: #fff;
  z-index: 1;
  color: rgb(50, 50, 50);
}

.img {
  position: absolute;
  top: 48px;
  left: 56px;
  max-width: 85px;
  max-height: 85px;
  overflow: hidden;
}

.img img {
  max-width: 100%;
}

nav ul li:nth-child(1) {
  margin-bottom: 25px;
}

nav ul li:nth-child(3) {
  margin-top: 15vh;
}

nav ul li:nth-child(1):hover::before {
  border-color: #efefef;
}

#content {
  position: absolute;
  top: 12%;
  left: 14%;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 30px !important;
  padding: 20px;
  width: 79%;
  min-height: 75vh;
  max-height: 100vh;
  z-index: 99;
}

#content p {
  padding: 5px;
}

#content .div {
  position: relative;
  display: none;
}

#tab1:checked~#content .div:nth-child(1),
#tab2:checked~#content .div:nth-child(2) {
  display: inline-block;
}

#tab1:checked~nav ul li:nth-child(1),
#tab2:checked~nav ul li:nth-child(2) {
  background: #fff;
  color: #113B49;
  z-index: 1;
}

#tab1:checked~nav ul li:nth-child(1)::before,
#tab2:checked~nav ul li:nth-child(2)::before {
  border-color: #efefef;
}

